*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* --Box2-- */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items:center;
}

/* --Box3-- */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    color: #0f1111;
}

/* -Box4- */
span{
    font-size: 0.7rem;
}

.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

/* --Box6-- */
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* --panel-- */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
}

.panel-opt p{
    display: inline;
    margin-left: 15px;
}

.panel-opt{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}


/* header-over */

/* sort */
.sort-by{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    box-shadow: 0px 0px 0px 01px rgb(196, 192, 192);
}

.sort-by span{
    color: #0f1111;
    font-size: 14px;
}
.sort-content{
    font-size: 11px;
    background: #F0F2F2;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 1px rgb(196, 192, 192);
}

.sort-content select{
    font-size: 11px;
    background: none;
}

/* left-aside */

.shopping-section{
    display: flex;
}

.left-aside{
    /* border: 0.5px solid rgb(173, 170, 170); */
    width: 241.8px;
    height: 2007px;
}

.aside1{
    width: fit-content;
    margin: 20px 0 0 10px;
}

.aside1 h4{
    padding: 2px;
    text-decoration: none;
    
}

.aside1 h4 a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #007185;
}

.aside1 h4 a:hover{
    color: #d17f13;
    text-decoration: underline;
    cursor: pointer;
}

.aside2{
    margin-left:10px;
    width: 221px;
}

.aside2 h2{
    font-size: 14px;
    line-height: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    width: 221px;
}

.aside2 a{
    text-wrap: wrap;
    text-decoration: none;
    font-size: 14px;
    color: #0f1111;
    margin-left: 0px 0px 0px 5px;
    padding-left: 2px;
    padding-bottom: 10px;
}

.aside2 a:hover{
    color: #d17f13;
    cursor: pointer;
}

.aside2 h3{
    font-size: 14px;
    font-weight: 400;
    color: #007185;
    margin-bottom: 5px;
}

.aside2{
    margin: 20px 0 0 10px;
}

#see-more{
    display: none;
    text-decoration: none;
    color: #007185;
}

.aside3 h4{
    padding-bottom: 2px;
    text-decoration: none;
    
}

.aside3 h4 a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #007185;
}

.aside3 h4 a:hover{
    color: #d17f13;
    text-decoration: underline;
    cursor: pointer;
}



.shopping-mid{
    /* background-color: ; */
    width: 285.35px;
    height: 352px;
    padding: 16px 16px 16px 16px;
    position: relative;
    display: flex;
    justify-content: center;
}

.shop4 .shopping-mid{
    border-right: none;
}

.shopping-mid-content{
    margin: 0px 0px 8px;
    padding: 8px;
}

.shopping-mid-content img{
    position: absolute;
    margin: auto;
    top: -110px;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.shopping-mid a{
    /* width: 75%; */
    /* margin: 0 30px 0px 0px; */
    position: relative;
    bottom: -300px;
    font-size: 14px;
    color: #0f1111;
    text-align: left;
    text-decoration: none;
    text-wrap: wrap;
}

.shopping-mid a:hover{
    color: #d17f13;
}

.shopping-mid-off{
    margin: 0 20px 30px 0;
    position: absolute;
    bottom: 0;
}

.mid-off{
    font-size: 12px;
    color: #ffffff;
    background: #cc0c39;
    margin: 0px 6px 0px 0px;
    padding: 4px 6px;
    position: relative;
    top: -50px;
}

.mid-deal{
    color: #cc0c39;
    font-size: 12px;
    font-weight: 700;
    background-color: #ffffff;
    position: relative;
    top: -50px;
}